h2{
  color: Blue;
}

.left{
  float: left;
  border: 2px black;
  padding: 10px;
  display: block;
  margin: 40px;
  width: 300px;
}

.middle{
  float: left;
  border: 2px black;
  padding: 10px;
  display: block;
  margin: 40px;
  width: 300px;
}

.right{
  float: left;
  border: 2px black;
  padding: 10px;
  display: block;
  margin: 40px;
  width: 300px;
}
.left h2 {
  font-style: italic;
}

.middle h2{
  font-style: italic;
}

.right h2{
  font-style:italic;
}
